.form-control {
  margin-bottom: 15px;
  &__label {
    font-size: 13px;
    margin-bottom: 5px;
    color: var(--secondary-color);
  }
  &__input {
    outline: none;
    border: none;
    color: var(--text-color);
    font-family: var(--base-font-family);
    font-size: 16px;
    padding: 2px 0;
    width: 100%;
    border-bottom: 1px solid var(--secondary-color);
  }
}
