<header class="header">
  <div class="header__container container">
    <a href="./index.hbs" class="logo"><i class="bi bi-chat-dots-fill logo__icon"></i> SomeChat</a>
    {{> @partial-block }}
  </div>
</header>