.header {
  &__container {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 8px;
    color: var(--primary-color);
    font-size: 34px;
  }
}