<div class="profile">
  {{#> header/header }}
    {{> mainNav/mainNav links=navLinks.userNav }} 
  {{/header/header }}

  <main class="profile__container container">
    <div class="profile__inner">
      <div class="profile__inner-left">
        <div class="profile__avatar">
          <img class="profile__avatar-img" src={{user.avatar}} alt={{user.first_name}}>
        </div>
        <p class="profile__name">{{user.first_name}} {{user.second_name}}</p>
        <ul class="profile__links">
          <li><a class="profile__link link" href="./profile-cahnge-data.hbs">Изменить данные</a></li>
          <li><a class="profile__link link" href="./profile-change-pasword.hbs">Изменить пароль</a></li>
        </ul>
      </div>
      <div class="profile__inner-right">
        {{> @partial-block }}
      </div>
    </div>
  </main>
</div>