.btn {
  outline: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  line-height: 50px;
  border-radius: 25px;
  padding: 0 5px;
  transition: background-color 0.2s;
  
  &--primary {
    background-color: var(--primary-color);
    color: var(--base-white);
    &:hover {
      background-color: var(--primary-color-hovered);
    }
  }
}
