@import 'variables.css';
@import 'mixins.css';
@import 'forms.css';

@import 'common.css';

.auth {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form {
  flex-grow: 1;
  max-width: 360px;
  background: var(--base-white);
  border-radius: 20px;
  padding: 20px;

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 30px;
    text-align: center;
  }

  &__inputs {
    margin-bottom: 30px;
  }

  &__actions {
    text-align: center;
  }

  &__submit {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  &__link {
    font-size: 16px;
    font-weight: 600;
  }

}