.form-control {
  margin-bottom: 15px;
  &__label {
    font-size: 12px;
    margin-bottom: 5px;
  }
  &__input {
    @mixin base-font;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--secondary-color);
    padding: 5px 0;
  }
}

.btn {
  @mixin base-font;
  border: none;
  cursor: pointer;
  line-height: 50px;
  border-radius: 25px;
  padding: 0 5px;
  transition: background-color 0.2s linear;

  &--primary {
    background-color: var(--primary-color);
    color: var(--base-white);
    &:hover {
      background-color: var(--primary-color-hovered);
    }
  }
}

.link {
  color: var(--primary-color);
  text-decoration: none;
}