:root {
  --primary-color: #3ba588;
  --primary-color-rgb: 58, 165, 136;
  --primary-color-hovered: #318b72;
  --secondary-color: #888;
  --secondary-bg: #777;
  --danger-color: #dc3545;
  --danger-bg: #f7cdd1;
  --warning-color: #664d03;
  --warning-bg: #fff3cd;
  --text-color: #333;
  --gray-100: #f5f7fb;
  --gray-200: #efefef;
  --base-white: #fff;
  --base-orange: #efa986;
  --base-purple: #4e426d;
  --base-font-family: "Open Sans", sans-serif;
}
