---
title: Чат
---

{{!< base}}

<div class="chat">
  {{#> header/header }}
    {{> mainNav/mainNav links=navLinks.userNav }} 
  {{/header/header }}

  <div class="chat__container container">

    <aside class="chat__sidebar">
      {{> searchForm/searchForm }}
      {{> contacts/contacts contacts=contacts.list }}
    </aside>

    <main class="chat__main">
      {{> selectedContact/selectedContact contact=contacts.list.[1] }}

      <div class="chat__messages-wrap">
        {{> messages/messages messages=messages.list}}
      </div>
      <div class="chat__form-wrap">
        {{> messageForm/messageForm }}
      </div>
    </main>
  </div>
</div>