.alert {
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 15px;

  &--danger {
    color: var(--danger-color);
    background-color: var(--danger-bg);
  }

  &--warning {
    color: var(--warning-color);
    background-color: var(--warning-bg);
  }
}
