@define-mixin base-font $font-family: var(--base-font-family), $size: 16px {
  font-family: $font-family;
  font-size: $size;  
}

@define-mixin reset-form-control {
  @mixin base-font;
  outline: none;
  border: none;
  color: var(--text-color);
}

@define-mixin reset-input {
  @mixin reset-form-control;
  &::placeholder {
    color: var(--secondary-color);
  }
}

@define-mixin reset-btn {
  @mixin reset-form-control;
  cursor: pointer;
}