<form class="auth-form">
  <h2 class="auth-form__title">{{title}}</h2>

  <div class="auth-form__inputs">
    {{#each controls}}
      {{> form-input this }}
    {{/each}}
  </div>

  <div class="auth-form__actions">
    <button class="auth-form__submit btn btn--primary" type="submit">{{submitLabel}}</button>
    <a class="auth-form__link link" href="{{linkUrl}}">{{linkLabel}}</a>
  </div>
</form>