{{#with this}}
  <div class="form-control">
    <label class="form-control__label" for="{{name}}">{{label}}</label>
    <input class="form-control__input" type="text" name="login" id="{{name}}"
    placeholder="{{placeholder}}">
  </div>
{{/with}} 