.auth {
  height: 100%;

  &__container {
    min-height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__inner {
    flex-grow: 1;
    max-width: 360px;
    background: var(--base-white);
    border-radius: 20px;
    padding: 20px;
  }
}
