{{#with contact}}
  <div class="selected-contact">
    <div class="selected-contact__inner">
      <div class="selected-contact__avatar">
        <img class="selected-contact__avatar-img" src={{avatar}} alt={{name}}>
      </div>
      <span class="selected-contact__name">{{name}}</span>
    </div>
    <button class="selected-contact__menu-btn" type="button">
      <i class="bi bi-three-dots"></i>
    </button>
  </div>
{{/with}}